<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto Ingeniería Software</title>
</head>

<body>
    <h1>{{ data.bienvenida }}</h1>
    {% if data.num_in > 0 %}
    <ul>
        {% for c in data.integrantes %}
        <li>Primer if {{ c }}</li>
        {% endfor %}
    </ul>
        {% else %}
    <h2>No existen integrantes</h2>
    {% endif %}
    <ul>
        {% for c in data.integrantes %}
        <li>{{ c }}</li>
        {% endfor %}
    </ul>
</body>
</html>